<mat-toolbar>
  <span>Login</span>
</mat-toolbar>
<mat-card-content>
  <form class="my-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <mat-form-field class="full-width">
      <mat-label>Email</mat-label>
      <input matInput placeholder="Email" name="email" formControlName="email" />
      <div [hidden]="!errorService.hasWrongValue(loginForm,'email')">

        <span>{{errorService.getFieldError(loginForm, 'email')}}</span></div>
      <mat-error *ngIf="loginForm.get('email')?.invalid">Please enter email</mat-error>

    </mat-form-field>
    <mat-form-field class="full-width">
      <mat-label>Password</mat-label>
      <input matInput placeholder="Password" name="password" formControlName="password"
        [ngClass]="{ 'is-invalid': submitted && f.password.errors }" type="password" />
      <div [hidden]="!errorService.hasWrongValue(loginForm,'password')">

        <span>{{errorService.getFieldError(loginForm, 'password')}}</span></div>
      <mat-error *ngIf="loginForm.get('password')?.invalid">Please enter password</mat-error>
    </mat-form-field>
    <mat-card-content>
      <button class="login" mat-raised-button color="primary">Login</button>Don't have an account?<a
        [routerLink]="['/auth/register']">Sign Up</a>
    </mat-card-content>
  </form>
</mat-card-content>
