<mat-toolbar color="primary">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <button
        mat-icon-button
        (click)="sidenav.toggle()"
        fxShow="true"
        fxHide.gt-sm
      >
        <mat-icon>menu</mat-icon>
      </button>
      <span>Responsive Navigation</span>
      <span class="menu-spacer"></span>
      <div fxShow="true" fxHide.lt-md>
        <!-- The following menu items will be hidden on both SM and XS screen sizes -->
        <a mat-button routerLink="/users/user">My profile</a>
        <a mat-button>Ecommerce</a>
        <a mat-button>Blog</a>
        <a mat-button>DevOps</a>
        <!-- <a mat-list-item routerLink="/users/user">My profile</a>
        <a mat-list-item>Ecommerce</a>
        <a mat-list-item>Blog</a>
        <a mat-list-item>DevOps</a> -->
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
</mat-toolbar>
<mat-sidenav-container class="example-sidenav-container" fxFlexFill>
  <mat-sidenav #sidenav>
    <mat-nav-list>
      <a (click)="sidenav.toggle()" href="" mat-list-item>Close</a>
      <a mat-list-item routerLink="/users/user">My profile</a>
      <a mat-list-item>Ecommerce</a>
      <a mat-list-item>Blog</a>
      <a mat-list-item>DevOps</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div
      fxLayout="row"
      fxLayout.xs="column"
      fxLayoutWrap
      fxLayoutGap="0.5%"
      fxLayoutAlign="center"
    >
      <mat-card class="example-card">
        <div class="postSection">
          <mat-card-header>
            <mat-card-title>Rain</mat-card-title>
            <mat-card-subtitle>Bad guy, duh.</mat-card-subtitle>
          </mat-card-header>
          <img
            mat-card-image
            src="https://i.imgur.com/GrKsjmE.jpg"
            alt="bad guy"
          />
          <mat-card-content>
            <p>
              Fix header post profile button links. Menu Item responsive,
              broken. Fix it tomorrow. Posts getting longer, database not yet
              done.
            </p>

            <span class="card-meta">
              Published: May 17th, 2019
            </span>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
          </mat-card-actions>
        </div>
        <div class="postSection">
          <mat-card-header>
            <mat-card-title>Rain</mat-card-title>
            <mat-card-subtitle>HashLocationStrategy</mat-card-subtitle>
          </mat-card-header>
          <img
            mat-card-image
            src="https://i.imgur.com/dIjiVXW.jpg"
            alt="HashLocationStrategy"
          />
          <mat-card-content>
            <p>
              Uploadly mistaken gist files.Form data setting when post request
              content-type. Created new migration from knex.js. Alter table add
              column image. Next, post api data including image row column from
              table. Burnt Out. Saving files and images to database is not the
              best idea. Use amazon S3, large applications. Fix menu-icon from
              angular- chad. Create router link about page to http server? Add
              up top scroll feature.
            </p>

            <span class="card-meta">
              Published: May 15th, 2019
            </span>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
          </mat-card-actions>
        </div>
        <button mat-button color="accent" class="upTop" *ngIf="isShow">
          <mat-icon (click)="gotoTop()">
            keyboard_arrow_up
          </mat-icon>
        </button>
      </mat-card>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
<router-outlet></router-outlet>
