<mat-sidenav-container class="example-sidenav-container" fxFlexFill>
  <mat-sidenav-content>
    <div
      fxLayout="row"
      fxLayout.xs="column"
      fxLayoutWrap
      fxLayoutGap="0.5%"
      fxLayoutAlign="center"
    >
      <mat-card class="example-card">
        <div class="postSection">
          <mat-card-header>
            <mat-card-title>Rain</mat-card-title>
            <mat-card-subtitle>Best practices</mat-card-subtitle>
          </mat-card-header>
          <img
            mat-card-image
            src="https://i.imgur.com/Vn1uaPt.jpg"
            alt="Best practices"
          />
          <mat-card-content>
            <p>
              Setup design images from design module component. Sidenav header
              in progress. Change UI design from header nav.. Responsive.
            </p>

            <span class="card-meta">
              Published: May 28th, 2019
            </span>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
          </mat-card-actions>
        </div>
        <div class="postSection">
          <mat-card-header>
            <mat-card-title>Rain</mat-card-title>
            <mat-card-subtitle>Modules</mat-card-subtitle>
          </mat-card-header>
          <img
            mat-card-image
            src="https://i.imgur.com/y3pGKvd.png"
            alt="modules"
          />
          <mat-card-content>
            <p>
              Configure multer upload single image. Cannot read property 'path'
              of undefined. Content-Type[] disabled from postman. Successfully
              run image upload also with data on It. Difference between
              req.params.id and req.body.id . Run backend to angular. Code
              layout header and footer. Done coding with shared module with the
              headers and footers. Cannot read property 'toggle' of undefined.
              Integration of input output module. Set basic header logo. H2
              creation.innovation broken. Integration between components,
              sidebar toggle() . Should not import lazy-loaded module into your
              app-module. Reroute user component to home component. Major
              refactor. Successfully created home module. app-header construct
              to home component.
            </p>

            <span class="card-meta">
              Published: May 26th, 2019
            </span>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
          </mat-card-actions>
        </div>
        <div class="postSection">
          <mat-card-header>
            <mat-card-title>Rain</mat-card-title>
            <mat-card-subtitle>Parabellum</mat-card-subtitle>
          </mat-card-header>
          <img
            mat-card-image
            src="https://i.imgur.com/PW9SIsS.jpg"
            alt="Parabellum"
          />
          <mat-card-content>
            <p>
              Post table. Date timestamp now(). Batch 2 run: 1 migrations. Post
              request and get request returning null.. Fixing how to return json
              objects/array when calling the API. Forgot seed implementation.
              How about faker. Js? Dummy data for generating tons of
              real-looking fake data. No npm modules for fake.js Working
              properties for post request, weird. Date now and datetime.
              Construct multer image cloudinary.
            </p>

            <span class="card-meta">
              Published: May 24th, 2019
            </span>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
          </mat-card-actions>
        </div>
        <div class="postSection">
          <mat-card-header>
            <mat-card-title>Rain</mat-card-title>
            <mat-card-subtitle>Storing data</mat-card-subtitle>
          </mat-card-header>
          <img
            mat-card-image
            src="https://i.imgur.com/Y4Ds1AZ.jpg"
            alt="storing data"
          />
          <mat-card-content>
            <p>
              Save method post using bookshelf.js. Creating, installing new npm
              init. Git initilization repository. Remove node modules and
              package lock.json. Work on routes, models and bookshelf
              integration. Migrations and seeds. Confused with module exports
              dotenv config.
            </p>

            <span class="card-meta">
              Published: May 22th, 2019
            </span>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
          </mat-card-actions>
        </div>
        <div class="postSection">
          <mat-card-header>
            <mat-card-title>Rain</mat-card-title>
            <mat-card-subtitle>Ocean eyes</mat-card-subtitle>
          </mat-card-header>
          <img
            mat-card-image
            src="https://i.imgur.com/BgYyoQ3.jpg"
            alt="Ocean Eyes"
          />
          <mat-card-content>
            <p>
              Will work again bookshelf.js for using create / save method? Code
              project structure for bookshelf.js. Backbone was the first ORM
              besides bookshelf.js. Documentation for bookshelf.js, currently
              reading.
            </p>

            <span class="card-meta">
              Published: May 20th, 2019
            </span>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
          </mat-card-actions>
        </div>
        <div class="postSection">
          <mat-card-header>
            <mat-card-title>Rain</mat-card-title>
            <mat-card-subtitle>Data URI</mat-card-subtitle>
          </mat-card-header>
          <img
            mat-card-image
            src="https://i.imgur.com/7g4CG8B.jpg"
            alt="Data URI"
          />
          <mat-card-content>
            <p>
              Image upload amazon S3. AWS SDK for javascript. Change favicon.
              Integration of amazon s3 bucket for image upload. Angular
              integration for aws amazon s3 upload using multer. DIfference
              between SDK and REST API like angular firebase. Integration of
              google fontz, kinda lazy. Blockers, not using AWS Amazon s3,
              Instead , cloudinary.
            </p>

            <span class="card-meta">
              Published: May 18th, 2019
            </span>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
          </mat-card-actions>
        </div>
        <div class="postSection">
          <mat-card-header>
            <mat-card-title>Rain</mat-card-title>
            <mat-card-subtitle>Bad guy, duh.</mat-card-subtitle>
          </mat-card-header>
          <img
            mat-card-image
            src="https://i.imgur.com/GrKsjmE.jpg"
            alt="bad guy"
          />
          <mat-card-content>
            <p>
              Fix header post profile button links. Menu Item responsive,
              broken. Fix it tomorrow. Posts getting longer, database not yet
              done. Fix menu nav header when viewing to desktop and also
              responsive menu icon. Storing image file from db? Using multer
              middleware. Layout width needs to adjust. Viewing profile from
              mobile, width not center. Font sucks.
            </p>

            <span class="card-meta">
              Published: May 16th, 2019
            </span>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
          </mat-card-actions>
        </div>
        <div class="postSection">
          <mat-card-header>
            <mat-card-title>Rain</mat-card-title>
            <mat-card-subtitle>HashLocationStrategy</mat-card-subtitle>
          </mat-card-header>
          <img
            mat-card-image
            src="https://i.imgur.com/dIjiVXW.jpg"
            alt="HashLocationStrategy"
          />
          <mat-card-content>
            <p>
              Uploadly mistaken gist files.Form data setting when post request
              content-type. Created new migration from knex.js. Alter table add
              column image. Next, post api data including image row column from
              table. Burnt Out. Saving files and images to database is not the
              best idea. Use amazon S3, large applications. Fix menu-icon from
              angular- chad. Create router link about page to http server? Add
              up top scroll feature.
            </p>

            <span class="card-meta">
              Published: May 15th, 2019
            </span>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
          </mat-card-actions>
        </div>
        <div class="postSection">
          <mat-card-header>
            <mat-card-title>Rain</mat-card-title>
            <mat-card-subtitle>Kaleidoscope</mat-card-subtitle>
          </mat-card-header>
          <img
            mat-card-image
            src="https://i.imgur.com/E3X3LaG.jpg"
            alt="Kaleidoscope"
          />
          <mat-card-content>
            <p>
              Click image, function ZOOM. Call middleware inside middleware to
              controllers. Blockers for middleware. Create route for test
              uploads, blockers. Test image upload success for post request.
            </p>

            <span class="card-meta">
              Published: May 13th, 2019
            </span>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
          </mat-card-actions>
        </div>
        <div class="postSection">
          <mat-card-header>
            <mat-card-title>Rain</mat-card-title>
            <mat-card-subtitle>Hackathon</mat-card-subtitle>
          </mat-card-header>
          <img
            mat-card-image
            src="https://i.imgur.com/THOigZ8.png"
            alt="payload"
          />
          <mat-card-content>
            <p>
              Community coders, sharing insights and passion for the love of
              building tech products. Now, back to the API.
            </p>

            <span class="card-meta">
              Published: May 11th, 2019
            </span>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
          </mat-card-actions>
        </div>
        <div class="postSection">
          <mat-card-header>
            <mat-card-title>Rain</mat-card-title>
            <mat-card-subtitle>River</mat-card-subtitle>
          </mat-card-header>
          <img
            mat-card-image
            src="https://i.imgur.com/KQsNnFN.jpg"
            alt="payload"
          />
          <mat-card-content>
            <p>
              Debugging bookshelf.js, blockers.Change task, multer npm. Stuck at
              multer configuration. Whole day, debugging. Can't set headers
              after they are sent ,multer. Reroute again? Properly code
              structure. Reconstruct again, new repository. Db route. Found now
              project structure for knex.js and postgres?.. Major, major
              refactor.
            </p>

            <span class="card-meta">
              Published: May 9th, 2019
            </span>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
          </mat-card-actions>
        </div>
        <div class="postSection">
          <mat-card-header>
            <mat-card-title>Rain</mat-card-title>
            <mat-card-subtitle>Payload</mat-card-subtitle>
          </mat-card-header>
          <img
            mat-card-image
            src="https://i.imgur.com/qG3h1fG.jpg"
            alt="payload"
          />
          <mat-card-content>
            <p>
              Searching how to work on filter search from SQL query. Blockers
              for middleware. Adding middleware to controllers. Callback when
              post id not found. Layers of mapping. Learning , and tryingto
              implement bookshelf.js
            </p>

            <span class="card-meta">
              Published: May 7th, 2019
            </span>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
          </mat-card-actions>
        </div>
        <div class="postSection">
          <mat-card-header>
            <mat-card-title>Rain</mat-card-title>
            <mat-card-subtitle>SQL ORM</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image src="https://i.imgur.com/RKpr8yz.jpg" alt="ORM" />
          <mat-card-content>
            <p>
              Run through pgadmin 4 software. Pull request to develop. Password
              hashing ..post comments, likes database relation. Identity data:
              user name, password hash, email address, last login time, etc.
              User profile data, which includes users preferences, latest
              activity, status updates etc. Creating database postgres from
              pgadmin 4. JWT TOKEN. Configuration.. Convert from Unix epoch to
              date? Working on inner join from DB. Adding new table for two
              foreign keys. Figuring epoch timestamp UNIX to DATE
              now();ORM(object relation mapper)
            </p>

            <span class="card-meta">
              Published: May 5th, 2019
            </span>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
          </mat-card-actions>
        </div>
        <div class="postSection">
          <mat-card-header>
            <mat-card-title>Rain</mat-card-title>
            <mat-card-subtitle>inevitable</mat-card-subtitle>
          </mat-card-header>
          <img
            mat-card-image
            src="https://i.imgur.com/8vxmYKp.jpg"
            alt="Error Failed"
          />
          <mat-card-content>
            <p>
              Something is wrong with my web host. FTP CAPTCHA problem. Error
              acces from my local IP ADDRESS IPV4. Set Value: null; error:
              column "content" of relation "blogs" does not exist. Install
              pgadmin4 for Postgresql for viewing database; Blockers for
              returning ID from knex.js query. Api is kinda messy. Figured out
              returning ID.
            </p>

            <span class="card-meta">
              Published: May 3rd, 2019
            </span>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
          </mat-card-actions>
        </div>
        <div class="postSection">
          <mat-card-header>
            <mat-card-title>Rain</mat-card-title>
            <mat-card-subtitle>Quantum Realm</mat-card-subtitle>
          </mat-card-header>
          <img
            mat-card-image
            src="https://i.imgur.com/TQYKMpf.jpg"
            alt="Error Failed"
          />
          <mat-card-content>
            <p>
              Must supply a value for form control with name: ERROR. Req.body
              has properties. Calling it from the frontend. Title and
              descripblogs are null. Creating post request to create new blog
              from API. Added log.info which is weird, res.json showing outputs
              from insert and update arrays. Debugging frontend, next. Change
              hardware mode. 3000 for angular night next week. Add feature, when
              two or three photos uploaded like IG feature.
            </p>

            <span class="card-meta">
              Published: May 1st, 2019
            </span>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
          </mat-card-actions>
        </div>
        <div class="postSection">
          <mat-card-header>
            <mat-card-title>Rain</mat-card-title>
            <mat-card-subtitle>Bourne Crisis</mat-card-subtitle>
          </mat-card-header>
          <img
            mat-card-image
            src="https://i.imgur.com/I3WKxXS.jpg"
            alt="Error Failed"
          />
          <mat-card-content>
            <p>
              Create server from heroku to deploy API. Component.html is going
              to long, still no api for the content. Test run to frontend
              framework. Configure how to root swagger from router folder.Redo
              agaim , backend API. Proper config structure. Scratch swagger for
              now, Callback for logs when calling status from API. Configuring
              content/:id .Describe and implement filters from API.
            </p>

            <span class="card-meta">
              Published: April 29th, 2019
            </span>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
          </mat-card-actions>
        </div>
        <div class="postSection">
          <mat-card-header>
            <mat-card-title>Rain</mat-card-title>
            <mat-card-subtitle>Phase IV</mat-card-subtitle>
          </mat-card-header>
          <img
            mat-card-image
            src="https://i.imgur.com/WaFtRaJ.jpg"
            alt="Error Failed"
          />
          <mat-card-content>
            <p>
              Parameters is still undefined. Blockers, blockers,
              blockers..pift...8 hours later, api running for get all blogs. Oh
              man.. Next post query.
            </p>

            <span class="card-meta">
              Published: April 27th, 2019
            </span>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
          </mat-card-actions>
        </div>
        <div class="postSection">
          <mat-card-header>
            <mat-card-title>Rain</mat-card-title>
            <mat-card-subtitle>Undefined of</mat-card-subtitle>
          </mat-card-header>
          <img
            mat-card-image
            src="https://i.imgur.com/lynFAkz.jpg"
            alt="Error Failed"
          />
          <mat-card-content>
            <p>
              Adjust media port queries for viewing mobile platform using flex
              layout. APi content still on the works. Adding post will make the
              app slow if API will not be implemented. 5KB size content lol.
              Media queries max-width to 600px. Access permissions to access run
              start.js from ubuntu. Running now on port 3000. Parameters are
              still undefined.
            </p>

            <span class="card-meta">
              Published: April 26th, 2019
            </span>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
          </mat-card-actions>
        </div>
        <div class="postSection">
          <mat-card-header>
            <mat-card-title>Rain</mat-card-title>
            <mat-card-subtitle>Reset hard:HEAD</mat-card-subtitle>
          </mat-card-header>
          <img
            mat-card-image
            src="https://i.imgur.com/7UdqQWM.jpg"
            alt="Db relation"
          />
          <mat-card-content>
            <p>
              Temporarily revert to previous commit. Should I code it like a
              textarea or just a phrase?Setting up folder structure for
              API/Knex.Recreating repository, again. Tabs on tabs.Recreate new
              database from the get go. Successfully reconstructed folders.
            </p>

            <span class="card-meta">
              Published: April 25th, 2019
            </span>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
          </mat-card-actions>
        </div>
        <div class="postSection">
          <mat-card-header>
            <mat-card-title>Rain</mat-card-title>
            <mat-card-subtitle>Swagger.yaml</mat-card-subtitle>
          </mat-card-header>
          <img
            mat-card-image
            src="https://i.imgur.com/HBBw4zl.jpg"
            alt="square space"
          />
          <mat-card-content>
            <p>
              Add routerlink pages from the dashboard. Add new api from exisitng
              database. Review mysql snippets to run in postgresql. Route admin
              module to app module. Auth guard service. Configuring swagger file
              before adding new code block for user schema. Successfully run
              Swagger...
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
          </mat-card-actions>
        </div>
        <div class="postSection">
          <mat-card-header>
            <mat-card-title>Rain</mat-card-title>
            <mat-card-subtitle>DB Relation</mat-card-subtitle>
          </mat-card-header>
          <img
            mat-card-image
            src="https://i.imgur.com/qBJh1Il.jpg"
            alt="Db relation"
          />
          <mat-card-content>
            <p>
              Reading about async/await v.s promises, how to crate new table
              from existing migrations? mysql, different tables using join
              paramaters.Routerlink form static pages. Slack company success
              stories..
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
          </mat-card-actions>
        </div>
        <div class="postSection">
          <mat-card-header>
            <mat-card-title>Rain</mat-card-title>
            <mat-card-subtitle>Media queries</mat-card-subtitle>
          </mat-card-header>
          <img
            mat-card-image
            src="https://i.imgur.com/F4eXPEs.jpg"
            alt="Thinking tool"
          />
          <mat-card-content>
            <p>
              When viewing to desktop view, mat card not expanding. ngIf and
              ngClass? New library which is the angular flex layout.. Oh boy,
              Media queries configuration.Fix DNS server, lol. IP conflict was
              part of the network connectivity issue. Now back to
              coding...Waazzzaaah!!FTP access is so old school, trying to
              configure how to use GIT from ftp. It might break the Router
              again, lol..
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
          </mat-card-actions>
        </div>
        <div class="postSection">
          <mat-card-header>
            <mat-card-title>Rain</mat-card-title>
            <mat-card-subtitle>Build Prod</mat-card-subtitle>
          </mat-card-header>
          <img
            mat-card-image
            src="https://i.imgur.com/vZtOtSI.jpg"
            alt="Thinking tool"
          />
          <mat-card-content>
            <p>
              Broked the Wifi router, configuring FTP last night. How can I use
              GIT thru FTP? Access page routes from the web server, oh man. User
              login, access only content part area. Style input sucks.
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
          </mat-card-actions>
        </div>
        <div class="postSection">
          <mat-card-header>
            <mat-card-title>Rain</mat-card-title>
            <mat-card-subtitle>Crazydomains</mat-card-subtitle>
          </mat-card-header>
          <img
            mat-card-image
            src="https://i.imgur.com/LDLAls9.jpg"
            alt="Thinking tool"
          />
          <mat-card-content>
            <p>
              Setup live server to ftp. Took me 13 hours of bhagdad lol. Heroku
              cli was much better, easy push from the get go. Manual uploads
              from files to files. Am I using old school uploads? UI design
              onhold, more code in the back end part.
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
          </mat-card-actions>
        </div>
        <div class="postSection">
          <mat-card-header>
            <mat-card-title>Rain</mat-card-title>
            <mat-card-subtitle>Advance DNS</mat-card-subtitle>
          </mat-card-header>
          <img
            mat-card-image
            src="https://i.imgur.com/dTSF72b.jpg"
            alt="Thinking tool"
          />
          <mat-card-content>
            <p>
              Excited for the new domain. Setting up pages between different
              module. Design schema for contents and items. Serverless API,
              restful. User auth login.. OMG. TOKEN.
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
          </mat-card-actions>
        </div>
        <div class="postSection">
          <mat-card-header>
            <mat-card-title>Rain</mat-card-title>
            <mat-card-subtitle>Thinking tool</mat-card-subtitle>
          </mat-card-header>
          <img
            mat-card-image
            src="https://i.imgur.com/BalUhjX.jpg"
            alt="Thinking tool"
          />
          <mat-card-content>
            <p>
              Working on a coding standard structure. Rethinking of how the
              tables and server side works. Adding new tables from existing
              tables, seeds and migrations.
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
          </mat-card-actions>
        </div>

        <div class="postSection">
          <mat-card-header>
            <mat-card-title>Rain</mat-card-title>
            <mat-card-subtitle>Local storage array</mat-card-subtitle>
          </mat-card-header>
          <img
            mat-card-image
            src="https://i.imgur.com/2rDt42S.jpg"
            alt="Photo of a Shiba Inu"
          />
          <mat-card-content>
            <p>
              Add title and add content db api. Responsive from tab wide view.
              Tables from different pages. Concern about installing npm packages
              that can affect size of the application that will make the app
              more bloated.
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
          </mat-card-actions>
        </div>
        <div class="postSection">
          <mat-card-header>
            <mat-card-title>Rain</mat-card-title>
            <mat-card-subtitle>Knex.js migrations</mat-card-subtitle>
          </mat-card-header>
          <img
            mat-card-image
            src="https://i.imgur.com/xZEfcDm.jpg"
            alt="Photo of a Shiba Inu"
          />
          <mat-card-content>
            <p>
              Changing tables.. from the database. What's the design schema?The
              date created, hour timestamp, and month method?^&*. How about the
              increment and decrement, How to work it to the API? Menu
              navigation, still on the works.
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
          </mat-card-actions>
        </div>
        <div class="postSection">
          <mat-card-header>
            <mat-card-title>Rain</mat-card-title>
            <mat-card-subtitle>First blood</mat-card-subtitle>
          </mat-card-header>
          <img
            mat-card-image
            src="https://i.imgur.com/jGGnBKH.jpg"
            alt="Photo of a Shiba Inu"
          />
          <mat-card-content>
            <p>
              Working on a new dev project, getting a new domain. Trying to run
              heroku cli with angular 7x. Chad beside me, and a cup of coffee..
              My domain name sucks right now. Typo string of words, not
              formatted. *Objectives: A LOT .. API TESTING
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
          </mat-card-actions>
        </div>
        <div class="postSection">
          <mat-card-header>
            <mat-card-title>Rain</mat-card-title>
            <mat-card-subtitle>Tenerifea Sea</mat-card-subtitle>
          </mat-card-header>
          <img
            mat-card-image
            src="https://i.imgur.com/SsNTU0K.jpg"
            alt="Tenerifea Sea"
          />
          <mat-card-content>
            <p>
              I need photo module and date module.. Fast tracking when trying to
              link server. My brain, literally my head is going cuckooo right
              now, api testing and design. Buy domain!! Buttons don't work for
              now. Still working on a different project. This is the front end
              design, enormous load for backend.
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
          </mat-card-actions>
        </div>
        <button mat-button color="accent" class="upTop" *ngIf="isShow">
          <mat-icon (click)="gotoTop()">
            keyboard_arrow_up
          </mat-icon>
        </button>
      </mat-card>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
<router-outlet></router-outlet>
