<!-- <div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 class='large text-primary'>Developers Component</h1>
      <p class='lead'><i class="fab fa-connectdevelop">Browse and connect with developers</i></p>
      <div class="profiles" *ngFor=" let user of developers$">
        <div *ngIf='user.user_profile.length > 0' class="profile card card-body bg-light mb-3">
          <div class="row">
            <div class="col-2">
              <img src="{{user.image_url}}" width="200" height="200" alt="" class='rounded-circle'>
            </div>
            <div *ngFor=" let profile of (user)?.user_profile" class="col-lg-6 col-md-4 col-8">
              <h3> {{user.username}}</h3>
              <p> {{profile.status}} at <span>{{profile.company_name}}</span>
              </p>
              <p><span>{{profile.job_location}}</span></p>
              <a class='btn btn-info'>View Profile</a>
            </div>
            <div class="col-md-4 d-none d-md-block">
              <h4>Skill Set</h4>
              <ul class='listgroup'>
                <li class='text-primary'><i class='fas fa-check pr-1'>javascript</i></li>
                <li class='text-primary'><i class='fas fa-check pr-1'>reactjs</i></li>
                <li class='text-primary'><i class='fas fa-check pr-1'>node.js</i></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>


</div> -->
