<div class="container">
  <div class="row">
    <div class="col-md-8 m-auto">
      <h1 class="display-4 text-center">Create Profile</h1>
      <p class="lead text-center">Fill in some information</p>
      <small className="d-block pb-3">* = required fields</small>
    </div>
    <form [formGroup]="profForm" class="form">
      <mat-form-field class="form-element">
        <mat-label>* Select Professional Status</mat-label>
        <mat-select formControlName="animalControl" required>
          <mat-option>--</mat-option>
          <mat-option *ngFor="let animal of animals" [value]="animal">
            {{animal.name}}
          </mat-option>
        </mat-select>
        <mat-hint>Give us an idea of where you are at in your career</mat-hint>
      </mat-form-field>
      <mat-form-field class="form-element">
        <mat-label>Company</mat-label>
        <input matInput placeholder="Company" name="company" required>
        <mat-hint>Could be your own company or one you work for</mat-hint>
      </mat-form-field>
      <mat-form-field class="form-element">
        <mat-label>Website</mat-label>
        <input matInput placeholder="Website" name="website" required>
        <mat-hint>Could be your own or a company website</mat-hint>
      </mat-form-field>
      <mat-form-field class="form-element">
        <mat-label>Location</mat-label>
        <input matInput placeholder="Location" name="location" required>
        <mat-hint>City or city & state suggested (eg. Cebu, Manila)</mat-hint>
      </mat-form-field>
      <mat-form-field class="form-element">
        <mat-label>Skills</mat-label>
        <input matInput placeholder="Skills" name="skills" required>
        <mat-hint>Please use comma separated values (eg. HTML,CSS,JavaScript,PHP</mat-hint>
      </mat-form-field>
      <mat-form-field class="form-element">
        <mat-label>Github Username</mat-label>
        <input matInput placeholder="Github Username" name="githubusername" required>
        <mat-hint>If you want your latest repos and a Github link, include your username</mat-hint>
      </mat-form-field>
      <mat-form-field class="form-element">
        <mat-label>Short Bio</mat-label>
        <textarea matInput placeholder="Github Username" name="githubusername" required></textarea>
        <mat-hint>Tell us a little about yourself</mat-hint>
      </mat-form-field>
      <div class="mb-3">
        <button>Add Social Network Links</button>
        <span>Optional</span>
      </div>
      <div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span>
              <mat-icon svgIcon="thumbs-up"></mat-icon>
            </span>
          </div>
          <input type="text" placeholder="Twitter Profile Url">
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span>
              <mat-icon svgIcon="thumbs-up"></mat-icon>
            </span>
          </div>
          <input type="text" placeholder="Facebook Page Url">
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span>
              <mat-icon svgIcon="utube"></mat-icon>
            </span>
          </div>
          <input type="text" placeholder="Youtube Channel Url">
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span>
              <mat-icon svgIcon="fb"></mat-icon>
            </span>
          </div>
          <input type="text" placeholder="Instagram page Url">
        </div>

      </div>
      <input type="button" value="Submit">
      <div>

      </div>
    </form>


  </div>
</div>
