<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Rain</mat-card-title>
    <mat-card-subtitle>First blood</mat-card-subtitle>
  </mat-card-header>
  <img
    mat-card-image
    src="https://i.imgur.com/jGGnBKH.jpg"
    alt="Photo of a Shiba Inu"
  />
  <mat-card-content>
    <p>
      Working on a new dev project, getting a new domain. Trying to run heroku
      cli with angular 7x. Chad beside me, and a cup of coffee.. My domain name
      sucks right now. Typo string of words, not formatted. *Objectives: A LOT
      .. API TESTING
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Rain</mat-card-title>
    <mat-card-subtitle>Tenerifea Sea</mat-card-subtitle>
  </mat-card-header>
  <img
    mat-card-image
    src="https://i.imgur.com/SsNTU0K.jpg"
    alt="Photo of a Shiba Inu"
  />
  <mat-card-content>
    <p>
      I need photo module and date module.. Fast tracking when trying to link
      server. My brain, literally my head is going cuckooo right now, api
      testing and design. Buy domain!! Buttons don't work for now. Still working
      on a different project. This is the front end design, enormous load for
      backend.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>
