<mat-card>
  <form [formGroup]="postForm" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <input
        matInput
        placeholder="Input title here"
        type="text"
        name="title"
        formControlName="title"
        required
        minlength="3"
        class="form-control"
      />
      <!-- <mat-error *ngIf="title.invalid">Please enter a post title.</mat-error> -->
    </mat-form-field>
    <mat-form-field>
      <textarea
        placeholder="Input your content"
        matInput
        rows="4"
        name="content"
        formControlName="content"
        required
        class="form-control"
      ></textarea>
      <!-- <mat-error *ngIf="content.invalid"
        >Please enter a post content.</mat-error
      > -->
    </mat-form-field>
    <div class="container">
      <div class="row">
        <h3>Choose File</h3>
        <div class="col-md-6 offset-md-3">
          <input type="file" name="image" (change)="onFileChange($event)" />
        </div>
        <div class="image-preview mb-3" *ngIf="previewUrl">
          <img [src]="previewUrl" height="300" />
        </div>
      </div>
    </div>

    <button mat-raised-button color="accent">Save post</button>
  </form>
</mat-card>
