<h2><small>test beta</small></h2>
<div
  class="container"
  fxLayout="row fxLayoutWrap"
  fxLayout.xs="column"
  fxLayoutWrap
  fxLayoutGap="20px"
  fxLayoutAlign="space-evenly stretch"
>
  <mat-card fxFlex="0 1 calc(20% - 20px)" fxLayout="column">
    <img mat-card-image class="img" src="https://i.imgur.com/Bc9Tdr8.jpg" />
  </mat-card>
  <mat-card fxFlex="0 1 calc(20% - 20px)" fxLayout="column">
    <img mat-card-image class="img" src="https://i.imgur.com/OfpgRS0.png" />
  </mat-card>
  <mat-card fxFlex="0 1 calc(20% - 20px)" fxLayout="column">
    <img mat-card-image class="img" src="https://i.imgur.com/VSGn1pS.png" />
  </mat-card>
  <mat-card fxFlex="0 1 calc(20% - 20px)" fxLayout="column">
    <img mat-card-image class="img" src="https://i.imgur.com/pslOsXE.jpg" />
  </mat-card>
  <mat-card fxFlex="0 1 calc(20% - 20px)" fxLayout="column">
    <img mat-card-image class="img" src="https://i.imgur.com/P0TK9PP.jpg" />
  </mat-card>
</div>
