<h2><small>test beta</small></h2>
<div
  class="container"
  fxLayout="row"
  fxLayout.xs="column"
  fxLayoutWrap
  fxLayoutGap="0.5%"
  fxLayoutAlign="center"
>
  <div fxFlex="50%">
    <img mat-card-image class="img" src="https://i.imgur.com/Bc9Tdr8.jpg" />
  </div>
  <div fxFlex="50%">
    <img mat-card-image class="img" src="https://i.imgur.com/OfpgRS0.png" />
  </div>
  <div fxFlex="50%">
    <img mat-card-image class="img" src="https://i.imgur.com/VSGn1pS.png" />
  </div>
  <div fxFlex="50%">
    <img mat-card-image class="img" src="https://i.imgur.com/pslOsXE.jpg" />
  </div>
</div>
