<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>{{ post.title }}</mat-card-title>
    <mat-card-subtitle>{{ post.content }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <dl>
      <dd><img src="{{ post.image_url }}" /></dd>
      <dt>Created At:</dt>
      <dd>{{ post.created_at | date }}</dd>
    </dl>
  </mat-card-content>
  <mat-card-actions>
    <a
      mat-flat-button
      color="primary"
      [routerLink]="['/admin/posts-edit', post.blog_id]"
      ><mat-icon>edit</mat-icon></a
    >
    <a mat-flat-button color="primary"><mat-icon>delete</mat-icon></a>
  </mat-card-actions>
</mat-card>
