<!-- <h2>test</h2>
<a routerLinkActive="active" class="navi" routerLink="/admin/admin/users"
  >Designs</a
> -->
<!-- <router-outlet></router-outlet> -->
<h1>Dashboard</h1>
<h3>Hi {{ currentUser?.first_name }}</h3>
<!-- <h3>{{ currentUser?.user_profile[0].bio }}</h3> -->

<div class="col-sm-12" *ngIf="currentUser?.user_profile == 0">
  <h4>You have not yet setup a profile, please add some info</h4>
  <button [routerLink]="['/create-profile']">CREATE PROFILE</button>
</div>
<!-- <div class="col-sm-12">
  <h4>test</h4>
  <h3 *ngIf="currentUser?.user_profile[0]?.bio !== undefined">userprofile[0] exist</h3>
</div> -->
<div *ngFor=" let user of (currentUser)?.user_profile">
  <h3>{{user.bio}}</h3>
</div>
