<!-- <h2>test</h2>
<a routerLinkActive="active" class="navi" routerLink="/admin/admin/users"
  >Designs</a
> -->
<!-- <router-outlet></router-outlet> -->
<h4>test</h4>
<div *ngIf="profile$ | async as user">
  <h1>Welcome {{ user.username}}!</h1>

  <div class="col-sm-12" *ngIf="user?.user_profile == 0">
    <h4>You have not yet setup a profile, please add some info</h4>
    <button [routerLink]="['/add']">CREATE PROFILE</button>
  </div>
  <!-- <div class="col-sm-12"><router-outlet></router-outlet>
  <h4>test</h4>
  <h3 *ngIf="currentUser?.user_profile[0]?.bio !== undefined">userprofile[0] exist</h3>
</div> -->
  <div *ngFor=" let profile of (user)?.user_profile">
    <mat-toolbar class="nav" fxLayout="row" fxLayoutAlign="start">

      <a mat-button routerLink="edit/{{profile.id}}">Edit Profile</a>
      <a mat-button routerLink="add-exp">Add Experience</a>
      <a mat-button routerLink="add-edu">Add Education</a>


    </mat-toolbar>

  </div>
  <h2 class='my-2'>Experience Credentials</h2>
  <article>
    <table mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="company">
        <th mat-header-cell *matHeaderCellDef> company </th>
        <td mat-cell *matCellDef="let element"> {{element.company}} </td>
      </ng-container>
      t
      <ng-container matColumnDef="job_title">t
        <th mat-header-cell *matHeaderCellDef> title </th>
        <td mat-cell *matCellDef="let element"> {{element.job_title}} </td>
      </ng-container>

      <ng-container matColumnDef="years">
        <th mat-header-cell *matHeaderCellDef> Years </th>
        <td mat-cell *matCellDef="let element"> {{element.start_date}} </td>
      </ng-container>



      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </article>
  <h2>Education Credentials</h2>
</div>
<!-- <h1>Dashboard</h1>
<h3>Hi {{ currentUser?.first_name }}</h3> -->
<!-- <h3>{{ currentUser?.user_profile[0].bio }}</h3> -->
