// .nav {
//   background: transparent;
// }
// .mat-toolbar-row,
// .mat-toolbar-single-row {
//     width: 33%;
// }

//  /* Tablet*/
//  @media screen and (max-width: 768px) {
//    /* Here are some changes*/
//  }

//  /* Mobile */
//  @media screen and (max-width: 320px) {
//    /* Here are some changes*/
//  }
.my-2 {
    margin: 2rem 0;
}
table {
  width: 100%;
}
.column-1-header {
/*   grid-area: header; */
  grid-column-start: 1;
/*   grid-column-end: 2; */
/*   grid-column-start: 2;
  grid-column-end: five;
  grid-row-start: row1-start;
  grid-row-end: 3; */
}

.column-2-header {
  grid-column-start: 2;
}
.column-3-header {
  grid-column-start: 3;
}
.column-4-header {
  grid-column-start: 4;
}
.column-5-header {
  grid-column-start: 5;
}
.column-6-header {
  grid-column-start: 6;
}
.column-7-header {
  grid-column-start: 7;
}
.column-8-header {
  grid-column-start: 8;
}

  
.item-b {
  grid-area: main;
}
.item-c {
  grid-area: sidebar;
}
.item-d {
  grid-area: footer;
}

.container {
  display: grid;

/*    grid-template-areas: 
    "header header header header header"
    "main main . . sidebar"
    "footer footer footer footer footer"; */
    grid-column-gap: 10px;
  grid-row-gap: 10px;
  justify-items: start;
  align-items: center;
  justify-content: stretch;	
}
.table{
  display: table;
  width:100%;
  border-collapse:collapse;
}
  .table-row{
    display: table-row;
  }
    .table-cell, .table-head{
      display: table-cell;
      padding:1em;
      border:#f0f0f0 1px solid;
    }
    .table-head{
        font-weight:bold;
    }