<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>Raineer Dela Rita</mat-card-title>
    <mat-card-subtitle>nerboi / rain /</mat-card-subtitle>
  </mat-card-header>
  <h1>Creation.Innovation</h1>
  <img
    mat-card-image
    src="https://i.imgur.com/iJ9Rk7m.jpg"
    alt="Photo of a Shiba Inu"
  />
  <h1>Built with Passion.</h1>
  <img
    mat-card-image
    src="https://i.imgur.com/OqWPrL8.jpg"
    alt="Photo of a Shiba Inu"
  />
  <mat-card-content>
    <p>
      ©Raineer
    </p>
  </mat-card-content>
</mat-card>
