<div
  fxLayout="row"
  fxLayout.xs="column"
  fxLayoutWrap
  fxLayoutGap="0.5%"
  fxLayoutAlign="center"
>
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Raineer Dela Rita</mat-card-title>
      <mat-card-subtitle>nerboi / rain /</mat-card-subtitle>
    </mat-card-header>
    <h2>Creation.Innovation</h2>
    <p>
      Hello, my name is Raineer Dela RIta. Please check out my blog photos,
      daily grind of my task enviroment. Passion to create websites and mobile
      apps from zero to hero, for all customers all over the multiverse. My
      skills are Angular, javascript and heavy CSS. And mysql DB relations, full
      stack developer. Layout width needs to adjust. Veiwing profile from
      mobile, width not center. Font sucks.
    </p>
    <img
      mat-card-image
      src="https://i.imgur.com/iJ9Rk7m.jpg"
      alt="Photo of Rain"
      class="matcard-img"
    />
    <h2>Built with Passion.</h2>
    <img
      mat-card-image
      src="https://i.imgur.com/OqWPrL8.jpg"
      alt="Photo of Rain"
    />
    <mat-card-content>
      <p>
        <small
          >Sofware development needs meditation and peace of mind like
          Yoga.</small
        >©Raineer
      </p>
    </mat-card-content>
  </mat-card>
</div>
