<mat-card class="example-card container">
  <mat-card-header>
    <mat-card-title>Raineer Dela Rita</mat-card-title>
    <mat-card-subtitle>nerboi / rain /</mat-card-subtitle>
  </mat-card-header>
  <h2>Creation.Innovation</h2>
  <p>
    Hello, my name is Raineer Dela RIta. Please check out my blog photos, daily
    grind of my task enviroment. Passion to create websites and mobile apps from
    zero to hero, for all customers all over the multiverse. My skills are
    Angular, javascript and heavy CSS. And mysql DB relations, full stack
    developer.
  </p>
  <img
    mat-card-image
    src="https://i.imgur.com/iJ9Rk7m.jpg"
    alt="Photo of a Shiba Inu"
  />
  <h2>Built with Passion.</h2>
  <img
    mat-card-image
    src="https://i.imgur.com/OqWPrL8.jpg"
    alt="Photo of a Shiba Inu"
  />
  <mat-card-content>
    <p>
      <small
        >Sofware development needs meditation and peace of mind like
        Yoga.</small
      >©Raineer
    </p>
  </mat-card-content>
</mat-card>
