.logo {
  float: left;
  width: 15%;
}
.logo a img {
  width: 28%;
}
@media screen and (max-width: 600px) {
  .logo {
    width: 8%;
  }
  .logo a img {
    width: 100%;
  }
}
@media screen and (max-width: 480px) {
  .logo {
    width: 12%;
  }
}
