<nav class="navbar navbar-expand-md navbar-light bg-light">
  <a href="#" class="navbar-brand">Ner Web Application</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#collapsing-nav-bar"
    aria-controls="collapsing-nav-bar"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsing-nav-bar">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="/admin/posts" class="nav-link">Posts</a>
      </li>
      <li class="nav-item">
        <a routerLink="/home" class="nav-link">Design</a>
      </li>
      <li class="nav-item">
        <a routerLink="/users/user" class="nav-link">Profile</a>
      </li>
    </ul>
  </div>
</nav>
